body {
	width: 960px;
	height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "arial", "helvetica Neue", Helvetica, sans-serif;
}

.container {
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 10px;
	background-color: #777;
}

header {
	width: 900px;
	height: 40px;
	background-color: #ebebeb;
	margin: 0 10px 10px 10px;
	padding: 10px;
	vertical-align: middle;
}


nav {
	width: 900px;
	height: 40px;
	background-color: #ebebeb;
	margin: 10px;
	padding: 10px;
}

.main {
	margin: 10px 0;
	background-color: green;
}


section {
	width: 455px;
	height: 280px;
	background-color: #ebebeb;
	margin: 10px;
	padding: 20px 20px 0px 20px;
	float: left;
}

article {
	width: 90%;
	height: 200px;
	background-color: #777;
	padding: 10px;
	color: #ffffff;
	margin: 0px auto;
	position: relative;
	bottom: -29px;
}

.headline, .paragraph{
	width: 90%;
	height: 50px;
	background-color: #ebebeb;
	margin: 10px auto;
	padding: 10px;
	color: #000000;
}

h1, h2 {
	text-align: center;
	margin: auto;
	font-size: 26px
}

p {
	text-align: center;
	margin: auto;
}

aside {
	width: 361px;
	height: 260px;
	background-color: #ebebeb;
	margin: 10px;
	padding:20px;
	float: left;
	/*padding: 20px;*/
}
footer {
	width: 900px;
	height: 40px;
	background-color: #ebebeb;
	margin: 10px;
	padding: 10px;
	clear: both;
	position: relative;
	top: 10px;
}