body {
	width: 960px;
	height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "arial", "helvetica Neue", Helvetica, sans-serif;
}

.container {
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 10px;
	background-color: #777;
}

header {
	width: 920px;
	height: 80px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 0 10px 10px 10px;
}


nav {
	width: 920px;
	height: 80px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 10px;
}


section {
	width: 495px;
	height: 300px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 10px;
	float: left;
	/*padding: 20px;*/

}

article {
	width: 90%;
	height: 200px;
	background-color: #777;
	border: 1px solid black;
	padding: 10px;
	color: #ffffff;
	margin: 10px auto;
}

.headline, .paragraph{
	width: 90%;
	height: 50px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 10px 0;
	padding: 10px;
	color: #000000;
}

h1, h2, p {
	text-align: center;
	margin: auto;
}

aside {
	width: 385px;
	height: 300px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 10px;
	float: left;
	/*padding: 20px;*/
}
footer {
	width: 920px;
	height: 100px;
	background-color: #ebebeb;
	border: 1px solid black;
	margin: 10px;
	clear: both;
}